# Datasets & outputs
dataset/
outputs/
*.pth
*.pt
*.ckpt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.temp
logs/
